.news-item {
    border-bottom: solid 1px rgb(240,240,240);
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.news-id {
    color: rgb(140,140,140);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    min-width: 50px;
}

.news-content {
    flex-grow: 2;
}

.news-karma {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}

.host {
    font-size: 12px;
    font-weight: 300;
}

.meta {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
}

@media only screen and (max-width: 800px) {
    .news-karma {
        display: none;
    }

    .top {
        padding-right: 5px;
    }
}
