.news-item {
    border-bottom: solid 1px #eee;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.news-id {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    min-width: 50px;
}

.news-content {
    flex-grow: 2;
}

.news-karma {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
}

.top {
    height: 24px;
    line-height: 24px;
}

.bottom {
    font-size: 12px;
    line-height: 18px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
}

.host {
    font-size: 12px;
    font-weight: 300;
    vertical-align: middle;
}

.meta {
    font-weight: 300;
}
