#app {
    background-color: rgb(250,250,250);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.news-container {
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}

.header-items {
    display: flex;
    margin: 0 auto;
    padding-left: 10px;
    overflow: visible !important;
    width: 1000px;
    max-width: 1000px;
}

.news-params {
    display: flex;
    justify-content: right;
    padding: 10px 0;
}

.news-items {
    background-color: white;
}

@media only screen and (max-width: 1000px) {
    .news-container {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .news-karma {
        display: none;
    }

    .timeframe-buttons {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    input {
        display: none;
    }

    #refresh-button {
        margin-left: auto;
    }
}
