#app {
    background-color: rgb(250,250,250);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.news-container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-items {
    display: flex;
    margin: 0 auto;
    overflow: visible !important;
    width: 70%;
    max-width: 1200px;
}

.news-params {
    display: flex;
    justify-content: right;
    padding: 10px 0;
}

.news-items {
    background-color: white;
}
